*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
}

.navbar{ 
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-top: 3vh;
}
.navbarlinks{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-family: 'Bruno Ace SC', sans-serif;
    background-color: rgba(235, 235, 235, 0.557);
    height: 3rem;
    margin-left: 10vw;
    padding: 0.3vw;
    border-radius: 20px;
}
.logginbtn{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Bruno Ace SC', sans-serif;
    background-color: rgba(235, 235, 235, 0.557);
    height: 3rem;
    margin-left: auto;
    margin-right: 5vw;
    padding: 0.3vw;
    border-radius: 20px;
}
.navlogo{
    font-size: 1.7rem;
    margin-right: 10vw;
}
.searchbar{
    height: 2rem;
    border-radius: 20px;
    padding-left: 10px;

}
.backgroundnav{
    height: 3rem;

    padding: 0.3vw;
    display: flex;
    align-items: center;
    width: 100%;
    border-color: black;
    border-style: dashed;
}







/* ############################ */
/* ############################ */
/* LOGGIN START */
/* ############################ */
/* ############################ */
.logincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 10vw;

}
.signinbox, .signupbox{
    background-color: rgba(235, 235, 235, 0.557);
    padding: 3vw;
    border-radius: 20px;
    border-color: black;
    border-style: dashed;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.authinputbox{
    height: 2rem;
    width: 15vw;
    border-color: black;
    border-style: dashed;
    border-width: 1.5px;
    padding-left: 5px;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;

}
.authinputbox:focus{
    box-shadow: 5.5px 7px 0 black;
}
.authbtnbox{
    height: 2rem;
    margin-top: 10%;
    font-family: 'Bruno Ace SC', sans-serif;
}
.headerauth{
    font-family: 'Bruno Ace SC', sans-serif;
    margin-left: 1vw;
}






/* ############################ */
/* ############################ */
/* LOGGIN END */
/* ############################ */
/* ############################ */